spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/app_support_bot
    username: postgres
    password: 1012
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


bot:
  token: "8232995551:AAFyodhFcsvrruO6jv2ZP_WqjhkE5TH6SPg"
admin:
  api:
    secret-key: "SecretKey123"